/* --- Font assets for KampungPreneur --- */

@font-face{
	font-family: 'SourceSansPro-Bold' ;
	src : url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
		url('../fonts/SourceSansPro-Bold.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'SourceSansPro-Light' ;
	src : url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
		url('../fonts/SourceSansPro-Light.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'SourceSansPro-Regular' ;
	src : url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
		url('../fonts/SourceSansPro-Regular.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'SourceSansPro-Semibold' ;
	src : url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Semibold.ttf') format('truetype'),
		url('../fonts/SourceSansPro-Semibold.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-Bold' ;
	src : url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-Light' ;
	src : url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-Regular' ;
	src : url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-SemiBold' ;
	src : url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.openSansSemiBold {
	font-family: 'OpenSans-SemiBold' !important;
}
.sourceSansBold {
	font-family : 'SourceSansPro-Bold' !important;
}

.sourceSansLight {
	font-family : 'SourceSansPro-Light' !important;
}

.sourceSansRegular {
	font-family : 'SourceSansPro-Regular' !important;
}

.sourceSansSemiBold {
	font-family : 'SourceSansPro-SemiBold' !important;
}

.sourceSansRegular {
	font-family : 'SourceSansPro-Regular' !important;
}

.sourceSansSemiBold {
	font-family : 'SourceSansPro-Semibold' !important;
}

/* --- Font Color --- */
.wh{
	color: $white !important;
}
.bl{
	color: $blue !important;
}
.or{
	color: $orange !important;
}

/* --- Font Size --- */
.small {
	font-size : 0.9em;
}
.normal {
	font-size : 1em;
}
.big {
	font-size : 1.2em;
}
.normalTitle {
	font-size : 2.4em;
}
.bigTitle {
	font-size : 3.75em;
}