/* --- Common reset --- */
html, body{
	font-family: 'SourceSansPro-Light';
	margin: 0 auto;
	padding: 0;
}
.containerCenter {
	position: absolute;
	overflow: hidden ;
	top : 50% ;
	left : 50% ;
	transform: translate(-50%,-50%); ;
}
.navbar {
	margin: 0px;
}
.navbar-nav li a:hover{
	background : none;
}

/* --- Margin and Padding --- */
@for $i from 1 through 6{
	.mg-#{$i*5}{
		margin : $i*5px ;
	}
	.mg-bt-#{$i*5}{
		margin-top : $i*5px ;
		margin-bottom : $i*5px ;
	}
	.mg-lr-#{$i*5}{
		margin-left : $i*5px ;
		margin-right : $i*5px ;
	}
	.mg-t-#{$i*5}{
		margin-top : $i*5px ;
	}
	.mg-b-#{$i*5}{
		margin-bottom : $i*5px ;
	}
	.mg-l-#{$i*5}{
		margin-left : $i*5px ;
	}
	.mg-r-#{$i*5}{
		margin-right : $i*5px ;
	}
}

@for $i from 1 through 6{
	.pd-#{$i*5}{
		padding : $i*5px ;
	}
	.pd-bt-#{$i*5}{
		padding-top : $i*5px ;
		padding-bottom : $i*5px ;
	}
	.pd-lr-#{$i*5}{
		padding-left : $i*5px ;
		padding-right : $i*5px ;
	}
	.pd-t-#{$i*5}{
		padding-top : $i*5px ;
	}
	.pd-b-#{$i*5}{
		padding-bottom : $i*5px ;
	}
	.pd-l-#{$i*5}{
		padding-left : $i*5px ;
	}
	.pd-r-#{$i*5}{
		padding-right : $i*5px ;
	}
}

.noOffset{
	padding : 0px !important ;
	margin : 0px !important ;
}
.noMag{
	margin : 0px !important ;
}
.noPad{
	padding : 0px !important ;
}

/* --- Float --- */
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

/* --- align --- */
.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}
.alignCenter {
text-align: center;
}

/* --- KampungPreneurReset --- */
.navbar {
	background-color: aliceblue;
}
.navbar-brand {
	height: 70px;
}
.navbar-nav {
	padding: 5px 10px 10px;

	&>li {
		&>a {
			color: $black;

			&:hover {
				color: $blue;
				@include transition(0.3);

				&:after {
					width: 50%;
					@include transition(0.3);
				}
			}

			&:after {
				content: "";
				position: absolute;
				width: 0%;
				height: 3px;
				background: $orange;
				left: 50%;
				bottom: 10%;
				transform: translate(-50%);
			}
		}
	}

	.active {
		a {
			color: $blue;
			@include transition(0.3);

			&:after {
				content: "";
				position: absolute;
				width: 50%;
				height: 3px;
				background: $orange;
				left: 50%;
				bottom: 10%;
				transform: translate(-50%);
			}
		}
	}
}