/* --- Common reset --- */
html, body{
	font-family: 'OpenSans-Light';
	margin: 0 auto;
	padding: 0;
}
figure {
	margin:0px;
	&>img {
		width: 100%;
	}

	figcaption {
		text-align: center;
	    font-size: 0.75em;
	    padding: 10px 30px;
	}
}
a {
	&:hover {
		text-decoration: none;
	}
}
li {
	list-style-type: none;
}
li {
	list-style-type: none;
	padding-bottom: 10px;

	a {
		color: $blue;
		@include transition(0.3);
	}
}
.containerCenter {
	position: absolute;
	overflow: hidden ;
	top : 50% ;
	left : 50% ;
	transform: translate(-50%,-50%); ;
}
.beCenter {
	float: none;
	margin: auto;
}
.fullWidth {
	width: 100% !important;
}
.moreWidth {
	width: 70% !important;
}
.noShadow {
	@include no-box-shadow();
}
.navbar {
	margin: 0px;
	font-size: 0.85em;
}
.navbar-nav li a{
	&:hover,&:focus,&:active{
		background : none;
	}
}

/* --- Margin and Padding --- */
@for $i from 1 through 6{
	.mg-#{$i*5}{
		margin : $i*5px ;
	}
	.mg-bt-#{$i*5}{
		margin-top : $i*5px ;
		margin-bottom : $i*5px ;
	}
	.mg-lr-#{$i*5}{
		margin-left : $i*5px ;
		margin-right : $i*5px ;
	}
	.mg-t-#{$i*5}{
		margin-top : $i*5px ;
	}
	.mg-b-#{$i*5}{
		margin-bottom : $i*5px ;
	}
	.mg-l-#{$i*5}{
		margin-left : $i*5px ;
	}
	.mg-r-#{$i*5}{
		margin-right : $i*5px ;
	}
}

@for $i from 1 through 6{
	.pd-#{$i*5}{
		padding : $i*5px ;
	}
	.pd-bt-#{$i*5}{
		padding-top : $i*5px ;
		padding-bottom : $i*5px ;
	}
	.pd-lr-#{$i*5}{
		padding-left : $i*5px ;
		padding-right : $i*5px ;
	}
	.pd-t-#{$i*5}{
		padding-top : $i*5px ;
	}
	.pd-b-#{$i*5}{
		padding-bottom : $i*5px ;
	}
	.pd-l-#{$i*5}{
		padding-left : $i*5px ;
	}
	.pd-r-#{$i*5}{
		padding-right : $i*5px ;
	}
}

.noOffset{
	padding : 0px !important ;
	margin : 0px !important ;
}
.noMag{
	margin : 0px !important ;
}
.noPad{
	padding : 0px !important ;
}

/* --- Float --- */
.floatLeft {
	float: left !important;
}

.floatRight {
	float: right !important;
}

/* --- align --- */
.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}
.alignCenter {
text-align: center;
}

/* --- Heading --- */
h1 {
	font-size: 4em;
	font-family: 'OpenSans-Bold';
}
h2 {
	font-size: 2em;
	font-family: 'OpenSans-Bold';
}

/* --- Button --- */
.btn {
	border-radius: 0px;
}

/* --- Form --- */
.form-control {
	border: 1px solid $lightgray;
    border-radius: 0;
    @include no-box-shadow();
}
select.form-control {
	width: 200px;
	display: inline;
	border-radius: 0px;
	@include box-shadow2();
}
.btn-default {
	background-color: $orange;
    color: $white;
    border-color: $orange;
    @include transition(0.3);
    @include box-shadow2();
    
    &:hover {
    	background-color: $darkorange;
	    color: $white;
	    border-color: $darkorange;
    }
}

/* --- KampungPreneurReset --- */
button.navbar-toggle {
	margin-top: 20px;
}
.icon-bar {
	background-color: $gray;
}
.owl-carousel{
	img {
		@include img-bg();
	}
}
.owl-theme .owl-dots .owl-dot span {
	background: $lightgray !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $blue !important; }
.owl-prev,.owl-next {
	display: none !important;
}